body{
    border:solid 20px black;
}

h1{
    font-size: 70px;
    color: black;
    text-align: center;
}

h2{
    font-style: oblique;
    color:black;
    text-align: center;
    font: 40px;
    font-weight: bold;
    
}

.paragrafo{
    color: black;
    text-align: center;
}

#Times,p1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

#Arial,p2{
    font-family:Arial, Helvetica, sans-serif;
}

#Courier,p3{
    font-family:'Courier New', Courier, monospace;
}

#Cursive,p4{
    font-family: cursive;
}

#Fantasy,p5{
    font-family: fantasy;
}

p6{
    text-align: end;
}